<% provide(:title, "Contact") %>

<h5 class="text-center mt-2 text-light">
  Contact Me for your Individualized Cocktail Experience
</h5>

<div class="row justify-content-center text-light">
  <div class="col-md-6">
    <%= form_for @message do |f| %>
      <%= render 'error_messages' %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control", placeholder: "Your name" %>
      </div>
      <div class="form-group">
        <%= f.label :email %>
        <span data-toggle="tooltip" title="Julie believes in no spam + all data kept private">
         <%= f.email_field :email, class: "form-control", placeholder: "name@example.com" %>
        </span>
      </div>
      <div class="form-group">
        <%= f.label :phone %>
        <%= f.telephone_field :phone, class: "form-control", 
         placeholder: "Cell phone (optional)" %>
      </div>
      <div class="form-group">
        <%= f.label :body %>
        <%= f.text_area :body, size: "12x6", class: "form-control", placeholder: "Message" %>
      </div>
      <%= f.submit "Send Email", class: "btn btn-sm btn-light" %>
    <% end %>
  </div>
</div>

<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});
</script>
