<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/">
    <%= image_tag 'julie-the-bartender-logo.png', class: "d-inline-block align-top mr-2", 
     alt: "julie.the.bartender Logo", width: "30" %>
    julie.the.bartender
  </a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" 
   data-target="#navbarToggler" aria-controls="navbarToggler" 
   aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarToggler">
    <ul class="navbar-nav float-right mt-2">
      <li class="nav-item">
        <%= link_to "Home", root_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Accolades", accolades_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Contact", contact_path, class: "nav-link disabled" %>
      </li>
      <li class="nav-item">
        <%= link_to "Tip Me", tip_me_path, class: "nav-link disabled" %>
      </li>
    </ul>
  </div>
</nav>